*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

[class^="container"]{
    margin: 0 auto; 
}

.container-page{
    max-width: 1920;
}

header{
    font-size: 13px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

header .row{
    justify-content: space-between;
}

.list-flex{
    display: flex;
}

.list-flex li{
    display: flex;
}

.logo{
    width: 121px;
}

li a{
    /* display: flex; */
    align-items: center;
    line-height: 70px;
    padding: 0 13px;
}

.button{
    background-color: #0061FF;
    padding: 5px 10px;
    color: white;
}

.hero{
    background-color: #B4D0E7;
}

.container-hero{
    max-width: 1200px;
}

.col-4{
    flex-basis: calc(100% * 4 / 12);
}

.col-8{
    flex-basis: calc(100% * 8 / 12);
}

.col-12{
    flex-basis: 100%;
}

.hero-title{
    font-size: 65px;
    font-weight: 800;
    padding: 10px 60px 10px 0;
}

/* DEBUG */

.debug [class^="container"]{
    border: 2px solid red;
}

.debug .row{
    border: 2px solid green;
}

.debug [class^="col"]{
    border: 2px solid blue;
}

.debug main [class^="col"]{
    min-height: 200px;
}