*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

[class^="container"]{
    margin: 0 auto; 
}

.container-page{
    max-width: 1920;
}

img{
    width: 100%;
}

header{
    font-size: 13px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.button{
    background-color: #0061FF;
    color: white;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

header .row{
    justify-content: space-between;
}

header .button{
    padding: 5px 10px;
}

.list-flex{
    display: flex;
}

.list-flex li{
    display: flex;
}

.logo{
    width: 121px;
}

li a{
    /* display: flex; */
    align-items: center;
    line-height: 70px;
    padding: 0 13px;
}

.hero{
    background-color: #B4D0E7;
}

.container-hero{
    max-width: 1200px;
}

.col-4{
    flex-basis: calc(100% * 4 / 12);
}

.col-8{
    flex-basis: calc(100% * 8 / 12);
}

.col-12{
    flex-basis: 100%;
}

.hero-title{
    font-size: 65px;
    font-weight: 800;
    padding: 50px 60px 30px 0;
}

.flex-col{
    flex-direction: column;  
    gap: 40px; 
}

.hero-paragraph{
    font-size: 17px;
    font-weight: 400;
}

main .button{
    display: inline-block;
    width: 225px;
    line-height: 46px;
    text-align: center;
}

.down-arrow{
    flex-grow: 1;
    display: flex;
    padding: 0px;
}

.down-arrow span{
    align-self: flex-end;
    font-size: 50px;
    padding-bottom: 7px;
    cursor: pointer;
}

.container-main{
    max-width: 1000px;
}

.left .card{
    padding-right: 32px;
}

.middle .card{
    padding: 0 16px;
}

.right .card{
    padding-left: 32px;
}

.card-type{
    border-bottom: 1px solid black;
    text-align: center;
}

/* DEBUG */

.debug [class^="container"]{
    border: 2px solid red;
}

.debug .row{
    border: 2px solid green;
}

.debug [class^="col"]{
    border: 2px solid yellow;
}

.debug .menu [class^="col"]{
    min-height: 100px;
}